@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
body {
    background-color: #a0d2e5;
}

#box-container{
    grid-template-columns: auto auto auto;
    width: 450px;
    margin: 0 auto;
    display: none;
    margin-top: 15px;
    margin-bottom: 15px;
        /* GLASS */
        background: rgba(255, 255, 255, 0.2);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
}
.box{
    width: 150px;
    height: 150px;
}
.border-top{
    border-top: 3px groove black;
}
.border-left{
    border-left: 3px groove black;
}
.border-right{
    border-right: 3px groove black;
}
#box-status{
    margin: 0 auto;
    margin-top: 30px;
    border: 2px solid black;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border-radius: 10px;
    /* GLASS */
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
#box-status h2{
    font-size: 2rem;
    margin-bottom: 15px;
}
#box-status button{
    font-size: 2rem;
    padding: 10px 15px;
    background-color: rgb(28, 129, 136);
    color: white;
    border-radius: 10px;
}
#box-status button:nth-child(1){
    background-color: rgb(23, 121, 185);
}
#box-status button:hover{
    background-color: crimson;
    color: black;
}
.box {
    font-size: 5rem;
    padding-top: 25px;
    font-family: 'serif', 'Fredericka the Great',  cursive;
    color: blue;
}
.box:hover::after{
    content: '';
    background-color: rgb(28, 129, 136);
    opacity: 0.3;
}
#game-status{
    display: flex;
    justify-content: center;
}
#select-players h2{
    color: rgb(16, 70, 75);
}
#reset-btn{
    display: flex;
    justify-content: center;
}
#reset{
    padding: 20px;
    margin-top: 20px;
    font-size: 1.5rem;
    border-radius: 10px;
    border: 2px groove crimson;
    display: none;
    justify-content: center;
    text-align: center;
    width: 300px;
}
#title{
    font-size: 2rem;
    color: rgb(24, 71, 55);
    background-color: beige;
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}
#reset:hover{
    border: 2px groove rgb(33, 33, 177);
    background-color: rgb(28, 129, 136);
    opacity: 0.6;
    color: white;
}
#winner-container{
    display: none;
    font-size: 2.5rem;
    color: rgb(14, 32, 71);
    justify-content: center;
    
}
.show-names{
    font-size: 2rem;    
}
#show-name-x{
    padding: 20px 0;
    text-align: left;
}
#show-name-o{
    text-align: left;
}
#ask-name button{
    font-size: 1.8rem;
    margin-top: 15px;
}

/* Responsividade */

 @media only screen and (max-width: 615px) {
    body{
        background-color: rgb(60, 158, 197);
        width: 100%;
    }
    #box-status{
        width: 90%;
    }
    #ask-name button {
        font-size: 1.5rem;
        margin-top: 15px;

    }
    #box-status{
        width: 90%;
        padding: 50px 50px;
    }
    #select-players h2{
        color: rgb(9, 78, 75);
    }
    #box-container{
        grid-template-columns: 100px 100px 100px;
        width: 300px;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .box{
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
    padding-top: 25px;
    } 
    #winner-container{
        font-size: 2.5rem;
        margin-top: 30px;
        color: crimson;        background-color: white;
            }

} 