@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}
#box-container{
    grid-template-columns: auto auto auto;
    width: 600px;
    margin: 0 auto;
    margin-top: 100px;
    display: none;
}
.box{
    width: 200px;
    height: 200px;
}
.border-top{
    border-top: 3px groove black;
}
.border-left{
    border-left: 3px groove black;
}
.border-right{
    border-right: 3px groove black;
}
#box-status{
    margin: 0 auto;
    margin-top: 60px;
    border: 2px solid black;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 100px;
    border-radius: 10px;
}
#box-status h2{
    font-size: 2rem;
}
#box-status button{
    font-size: 2rem;
    padding: 10px 15px;
    background-color: rgb(50, 50, 209);
    color: white;
    border-radius: 10px;
}
#box-status button:hover{
    background-color: crimson;
    color: black;
}
.box {
    font-size: 5rem;
    padding-top: 50px;
    font-family: 'Fredericka the Great', cursive;
    color: blue;
}
.box:hover{
    background-color: rgb(28, 129, 136);
    opacity: 0.3;
}
#reset{
    padding: 20px;
    margin: 0 auto;
    margin-top: 50px;
    font-size: 2rem;
    border-radius: 10px;
    border: 2px groove crimson;
    display: none;
}
#reset:hover{
    border: 2px groove rgb(33, 33, 177);
    background-color: rgb(28, 129, 136);
    opacity: 0.6;
    color: white;
}
#winner-container{
    display: none;
    font-size: 4rem;
    color: lightseagreen;
    justify-content: center;
}